# Homework 1 
**(by Yingqiang Wang (yw2155))**

In [2]:
2+5 #adds

7

In [3]:
2 + 5 #still adds

7

In [4]:
2*5 #multiply

10

In [5]:
2/5 #divide

0.4

In [6]:
2**5 #power

32

q2: x=10. Because the first line point 7 to variable x. Then second line modifies x by adding 3 on itself, which makes it equals to 10.

q3. y=3. Because first line assign 3 to x, then assign the value of x currently to y. The later modification of x will not affect the value of y. So y will still be 3.

q4. Yes, this code can run without error and it will produce '1.5 abcabc'.

q5. No, it has an error. Because float type cannot add with string type.

q6. Yes. It produces '3 | 24 | 8'.

q7. No. Because string type and integer type cannot run divide operant.

q8. Yes, this code can run. It won't produce anything because there's no print command to print out result. It assigns a string to x, and words behind # are comment.

q9. Yes, this code can run. It produces [1,2,3,42,43].

q10. No, it has an error. Number cannot be added with list.

q11. 
-  x1: int 
-  x2: float 
-  x3: string 
-  x4: list 
-  x5: list

q12. 
-  int (42 is an integer)
-  float (42.0 is a float point number)
-  string (with a quotation mark, number becomes a string)
-  string (double quotation mark won't make a difference)
-  string (triple the double quotation mark makes no difference too)
-  list (square bracket means list)
-  list (list plus another list gets list)
-  int (int plus int gets int)
-  builtin_function_or_method ('print' function is a python built-in function)

q13. Result is float. The final type follows the function at the most outside bracket.

q14. Result is int. Same explanation as q13. Here 'int' function round the float point number into integer.

q15. 
-  Result is 1. The length of this list is one because there's one integer in it. 
-  Result is 4. The length of this string is 4. 
-  Error. Because integer is not the right type for len() function.

q16. The type of x is list because we assign an empty list to x. Length of x would be 0.

q17. It looks like five seperate letters in a list. (['a', 'b', 'c', 'd', 'e'])

In [39]:
x = 1234
x = float(x)
print('Convert: floating point number ', x)
x = 1234
x = str(x)
print('Convert: number to string ', x)
print(type(x))
x = list(x)    #I use x from step 2 to convert because integer is not iterable 
               #therefore cannot feed into function 'list()'
print('Convert: number to list ', x)

Convert: floating point number  1234.0
Convert: number to string  1234
<class 'str'>
Convert: number to list  ['1', '2', '3', '4']

In [57]:
x = 'luke, i am your father'
y = x.split(' ')
x = ''
for letter in y: 
    l = list(letter)
    l[0] = chr(ord(l[0])-32)
    letter = ''
    for i in l:
        letter += str(i)
    x += letter + ' '
print(x)

Luke, I Am Your Father

In [88]:
print('Question 20: ')
x = 'How many characters and words are in this string?'
y = ' '.join(x).replace('?','').split()
counter = 0
for ch in y:
    counter += 1
print('a. # of characters x contains: ', counter)
print('b. Convert: list of individual charaters: \n', y)
x = x.split('?')
x = x[0].split()
print('c. Convert: list of individual words: \n', x)
counter = 0
for w in x:
    counter += 1
print('d. # of words x contains: ', counter)

Question 20:
a. # of characters x contains:  40
b. Convert: list of individual charaters:
 ['H', 'o', 'w', 'm', 'a', 'n', 'y', 'c', 'h', 'a', 'r', 'a', 'c', 't', 'e', 'r', 's', 'a', 'n', 'd', 'w', 'o', 'r', 'd', 's', 'a', 'r', 'e', 'i', 'n', 't', 'h', 'i', 's', 's', 't', 'r', 'i', 'n', 'g']
c. Convert: list of individual words:
 ['How', 'many', 'characters', 'and', 'words', 'are', 'in', 'this', 'string']
d. # of words x contains:  9